# MongoDB Connection
mongodb+srv://safira:MOAMEN.172096@cluster0.yucaqm0.mongodb.net/?appName=Cluster0
# Server Port
PORT=8080

# Admin Password
ADMIN_PASSWORD=safira2026

# Security Password
SECURITY_PASSWORD=moamen172096
