# MongoDB Connection
MONGODB_URI=mongodb+srv://moamenbeliever_db_user:MOAMENBELIEVER172096@cluster.mongodb.net/safira_logistic

# Server Port
PORT=8080

# Admin Password
ADMIN_PASSWORD=safira2026

# Security Password
SECURITY_PASSWORD=moamen172096
